@import "../../../partials/variables";
.thanks{
    .thanks-message{
        font-size:35px;
        color:$northern-white;
    }
    .thanks-text{
        color:$northern-white;
        font-size:20px;
    }
}